<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="https://www.pirandelloltre.com/" target="_blank">pirandelloltre.com</a>. Theme by <a href="https://www.pirandelloltre.com/">pirandelloltre</a>
        </div>
    </div>
</footer>